body, html {
    overflow: hidden
  }
 
  #gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  #background{
    height: auto;

  }
  #imgBack{
    top: auto;
    left: auto;
    width: 900px;
    height: auto;
  }
  #imgBin{
    max-width: 100%;
    height: auto;
  }

  #bin {
    position: absolute;
    width: 150px;
    height: 150px;
}

#imgDragable{
  max-width: 100%;
  height: auto;
}
.dragable {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    cursor: grab;
}
.imgSearchable{


}
.card {
  width: 190px;
  height: 254px;
  top: 600px;
  left: 1500px;
  position: absolute;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 30px #bebebe,
                -20px -20px 60px #ffffff;
                display: flex;
    justify-content: center;
    align-items: center
 }
