body, html {
    overflow: hidden
  }
 
  #gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  #background{
    height: auto;

  }
  #imgBack{
    max-width: 100%;
    height: auto;
  }
  #imgBin{
    max-width: 100%;
    height: auto;
  }

  #bin {
    position: absolute;
    width: 150px;
    height: 150px;
}

#imgDragable{
  max-width: 100%;
  height: auto;
}
.dragable {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    cursor: grab;
}